* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-image: url(../image/tavernaBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.boxHeader {
    background-color: rgba(0, 255, 255, 0.541);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxHeader nav ul {
    display: flex;
    gap: 8px;
}

.boxHeader nav ul li {
    list-style: none;
}

.boxMain {
    background-color: rgba(30, 255, 0, 0.541);
    width: 85%;
    height: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
}

.boxMain section {
    background-color: rgba(209, 197, 24, 0.541);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.boxMain aside {
    background-color: rgb(241, 139, 13, 0.541);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.boxMain div {
    background-color: rgba(17, 13, 241, 0.541);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}

.boxFooter {
    background-color: rgba(162, 0, 255, 0.541);
    text-align: center;
}